ul {
  list-style-type: none;
  margin: 0;
  font-size: 22px;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  display: flex;
  justify-content: space-around;
}

li a {
  display: block;
  color: rgb(110, 105, 105);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: rgb(31, 27, 27);
}

.cart-quantity {
  background-color: red;
    position: absolute;
    color: white;
    text-align: center;
    font-size: 16px;
    border-radius: 20px;
    width: 30px;
    bottom: 30px;
    left: 125px;
}

.quantity-line {
  position: relative;
}
